@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "e-Ukraine";
  src: url("/fonts/e-Ukraine-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("/fonts/e-Ukraine-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "e-Ukraine";
  src: url("/fonts/e-Ukraine-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.container .header {
  margin-bottom: 140px;
}
.container .header .nav {
  padding: 40px 0 0 80px;
}
.container .header .nav .header__ol {
  display: flex;
  align-items: center;
}
.container .header .nav .header__ol .header__liFirst {
  margin-right: 336px;
  font: bold 28px "e-Ukraine";
  color: #000;
}
.container .header .nav .header__ol .header__li {
  margin-right: 60px;
}
.container .header .nav .header__ol .header__li a {
  text-decoration: none;
  font: 400 24px "Manrope";
  color: #000;
}
.container .header .nav .header__nav_block {
  display: flex;
}
.container .header .nav .header__nav_block a {
  font: 500 16px "Manrope";
  text-decoration: none;
  color: rgb(26, 86, 83);
}
.container .header .nav .header__nav_block a:first-child {
  margin-right: 17px;
  color: #8a8a8a;
}
.container .header .nav .header__section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .header .nav .header__section div h1 {
  font: 700 64px "e-Ukraine";
  color: #fff;
  margin-bottom: 50px;
}
.container .header .nav .header__section div p {
  font: 400 32px "Manrope";
  color: #fff;
  text-align: center;
  margin-bottom: 90px;
}
.container .header .nav .header__section div div {
  display: flex;
  justify-content: center;
}
.container .header .nav .header__section div div button {
  text-align: center;
  padding: 24px 60px;
  background: #fff;
  border-radius: 999px;
  font: 600 24px "Manrope";
}
.container .main {
  overflow: auto;
  padding: 0 80px;
}
.container .main .main__section1 .section1__wrapper .section1__block {
  padding-top: 40px;
}
.container .main .main__section1 .section1__wrapper .section1__block h1 {
  margin-bottom: 70px;
  font: 700 48px "e-Ukraine";
}
.container .main .main__section1 .section1__wrapper .section1__block2 .block2__wrapper1 {
  gap: 20px;
  display: flex;
  margin-bottom: 20px;
}
.container .main .main__section1 .section1__wrapper .section1__block2 .block2__wrapper1 .block2__name input {
  width: 574px;
  border-radius: 999px;
  padding: 24px 0 24px 28px;
  font: 400 24px "Manrope";
}
.container .main .main__section1 .section1__wrapper .section1__block2 .block2__wrapper2 {
  display: flex;
  justify-content: space-between;
}
.container .main .main__section1 .section1__wrapper .section1__block2 .block2__wrapper2 .block2__info_block {
  display: flex;
  gap: 20px;
}
.container .main .main__section1 .section1__wrapper .section1__block2 .block2__wrapper2 .block2__info_block .block2__name input {
  width: 574px;
  border-radius: 999px;
  padding: 24px 0 24px 28px;
  font: 400 24px "Manrope";
}
.container .main .main__section1 .section1__wrapper .section1__block2 .block2__wrapper2 .block2__changeInfo {
  padding: 24px 60px;
  background: #1A5653;
  border-radius: 999px;
}
.container .main .main__section1 .section1__wrapper .section1__block2 .block2__wrapper2 .block2__changeInfo a {
  text-decoration: none;
  font: 600 24px "Manrope";
  color: #fff;
}
.container .footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 120px 80px;
  background: rgb(26, 86, 83);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.container .footer .header__liFirst {
  font: bold 28px "e-Ukraine";
  color: #fff;
}
.container .footer .footer_wrapper {
  display: flex;
}
.container .footer .footer_wrapper .footer__list1 li, .container .footer .footer_wrapper .footer__list2 li {
  font: 300 20px "Manrope";
  color: rgb(245, 245, 245);
  margin-bottom: 20px;
}
.container .footer .footer_wrapper .footer__list1 li:first-child, .container .footer .footer_wrapper .footer__list2 li:first-child {
  font: 500 20px "Manrope";
}
.container .footer .footer_wrapper .footer__list1 {
  margin-right: 215px;
}
.container .footer .footer_wrapper .footer__list1 li:first-child {
  margin-bottom: 40px;
}
.container .footer .footer_wrapper .footer__list1 li:last-child {
  margin: 0;
}
.container .footer .footer_wrapper .footer__list2 li:last-child {
  margin: 0;
}
.container .footer .footer_wrapper .footer__list2 li a {
  text-decoration: none;
  font: 300 20px "Manrope";
  color: #fff;
}/*# sourceMappingURL=SettingProfile.css.map */