@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
@font-face
  font-family: 'e-Ukraine'
  src: url('/fonts/e-Ukraine-Regular.woff2') format('woff2'),
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'e-Ukraine'
  src: url('/fonts/e-Ukraine-Medium.woff2') format('woff2'),
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'e-Ukraine'
  src: url('/fonts/e-Ukraine-Bold.woff2') format('woff2'),
  font-weight: bold
  font-style: normal
  font-display: swap
*
    box-sizing: border-box

.container 
    display: grid
    grid-template-rows: auto 1fr auto
    min-height: 100vh
    .header
        margin-bottom: 140px
        .nav
            padding: 40px 0 0 80px
            .header__ol
                display: flex
                align-items: center
                .header__liFirst
                    margin-right: 336px
                    font: bold 28px 'e-Ukraine'
                    color: #000
                .header__li
                    margin-right: 60px
                    a
                        text-decoration: none
                        font: 400 24px 'Manrope'
                        color: #000
            .header__nav_block
                display: flex
                a
                    font: 500 16px 'Manrope'
                    text-decoration: none
                    color: rgb(26,86,83)
                a:first-child
                    margin-right: 17px
                    color: #8a8a8a
            .header__section
                height: 100%
                display: flex
                justify-content: center
                align-items: center
                div
                    h1
                        font: 700 64px 'e-Ukraine'
                        color: #fff
                        margin-bottom: 50px
                    p
                        font: 400 32px 'Manrope'
                        color: #fff
                        text-align: center
                        margin-bottom: 90px
                    div
                        display: flex
                        justify-content: center
                        button
                            text-align: center
                            padding: 24px 60px
                            background: #fff
                            border-radius: 999px
                            font: 600 24px 'Manrope'
    .main
        overflow: auto
        margin-bottom: 120px
        padding: 0 80px
        .main__section1
            .section1__wrapper
                display: flex
                justify-content: space-between
                .section1__block
                    padding-top: 40px
                    h1
                        margin-bottom: 70px
                        font: 700 48px 'e-Ukraine'
                    .section1__changeProfile_block
                        text-align: center
                        padding: 24px 60px 
                        border-radius: 999px
                        background: rgb(26, 86, 83)
                        a
                            text-decoration: none
                            font: 600 24px 'Manrope'
                            color: #fff
                .section1__block2
                    width: 1000px
                    border: 1px solid black
                    border-radius: 30px
                    padding: 60px 80px 80px 80px
                    .section1__historyOrder
                        width: max-content
                        font: 600 24px 'Manrope'
                        margin-bottom: 70px
                        border-bottom: 2px solid black
                        padding-bottom: 10px
                    .section1__block2__container
                        overflow: scroll
                        overflow-x: hidden
                        height: 300px
                        .section1__block2_order
                            display: flex
                            justify-content: space-between
                            margin: 0 80px 30px 0
                            border-bottom: 1px solid grey
                            padding-bottom: 30px
                            .section1__ol_1
                                li:first-child
                                    color: rgb(140, 140, 140)
                                    margin-bottom: 20px
                            .section1__ol_2 ,.section1__ol_1
                                li
                                    font: 400 24px 'Manrope'
                            .section1__ol_2
                                li:first-child
                                    opacity: 0
    .footer
        width: 100%
        display: flex
        justify-content: space-between
        padding: 60px 80px 120px 80px
        background: rgb(26, 86, 83)
        border-top-left-radius: 30px
        border-top-right-radius: 30px
        .header__liFirst
            font: bold 28px 'e-Ukraine'
            color: #fff
        .footer_wrapper
            display: flex
            .footer__list1 ,.footer__list2
                li
                    font: 300 20px 'Manrope'
                    color: rgb(245,245,245)
                    margin-bottom: 20px
                li:first-child
                    font: 500 20px 'Manrope'  
            .footer__list1
                margin-right: 215px
                li:first-child
                    margin-bottom: 40px
                li:last-child
                    margin: 0
            .footer__list2
                li:last-child
                    margin: 0
                li
                    a
                        text-decoration: none
                        font: 300 20px 'Manrope'
                        color: #fff

.section1__block2__container::-webkit-scrollbar
    width: 3px 
    height: 3px
.section1__block2__container::-webkit-scrollbar-track
    background-color: #999
.section1__block2__container::-webkit-scrollbar-track-piece
    background-color: #ffffff
.section1__block2__container::-webkit-scrollbar-thumb
    height: 50px
    background-color: #666 
    border-radius: 3px
.section1__block2__container::-webkit-scrollbar-corner
    background-color: #999
.section1__block2__container::-webkit-resizer
    background-color: #666